# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
ENV/
.venv/
.conda/

# -----------------------------
# Conda
# -----------------------------
*.conda
*.tar.bz2

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# Build / Distribution
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Environment variables
# -----------------------------
.env